# Arquivos e pastas do Docker
Dockerfile
docker-compose.yml
.dockerignore

# Arquivos e pastas do Git
.git
.gitignore

# Ambiente virtual do Python
venv
.venv
*.env

# Pastas de cache e de IDEs
__pycache__
.idea
.vscode
*.pyc

# Arquivos de teste e temporários
downloads
*.png
test_async_client.py

# Documentação
README.md